@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Open Sans Bold";
        src: url('../public/fonts/OpenSans-Bold.ttf');
    }
    @font-face {
        font-family: "Open Sans Regular";
        src: url('../public/fonts/OpenSans-Regular.ttf');
    }
    @font-face {
        font-family: "Open Sans Light";
        src: url('../public/fonts/OpenSans-Light.ttf');
    }
    @font-face {
        font-family: "Open Sans Semi-Bold";
        src: url('../public/fonts/OpenSans-SemiBold.ttf');
    }
    @font-face {
        font-family: "Open Sans Extra Bold";
        src: url('../public/fonts/OpenSans-ExtraBold.ttf');
    }
}

*,
html,
body {
  font-size: 16px;
  scroll-behavior: smooth;
}

.slick-list, .slick-track, .slick-slide > div{
    height: 100%;
}

.slick-dots {
    top: 110%;
    left: 50%;
    transform: translate(-50%, 0);
}

.slick-dots .slick-active > div {
    background-color: #FC5C2C;
    width: 20px;
    transition: all 0.3s;
    transform-origin: center;
}

.slick-dots > ul > li {
    width: max-content;
    height: max-content;
    margin: 0;
}

html {
    user-select: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

a:focus {
    outline: none;
}

a, img, button, input, label, span {
    -webkit-tap-highlight-color: transparent;
}

@media only screen and (min-resolution: 72dpi) {
    @media only screen and (min-width: 0px) {
        html {
            font-size: 13px;
        }
    }
    @media only screen and (min-width: 1440px) {
        html {
            font-size: 16px;
        }
    }
}

@media only screen and (min-resolution: 100dpi) {
    html {
        font-size: 16px;
    }
}